.title-headers{
    width: 100%;
    background-color: blanchedalmond;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
}

.everything-container{
    width: 50%;
}

.meats-header{
    background-image: url("../images/steak.jpg");
 background-size: contain;
 opacity: 0.75;

}

.veggies-header{
    background-image: url("../images/vegetables.jpg");
    background-size: cover;
    opacity: 0.75;
    
}

.carbs-header{
    background-image: url("../images/carbs.jpg");
    opacity: 0.75;
    
}

.dairy-header{
    background-image: url("../images/dairy.jpg");
    background-size: cover;
    opacity: 0.75;
}    

.user-additions-header{
    background-image: url("../images/cutlery.jpg");
    background-size: cover;
    opacity: 0.75;
    
}

button{
    width: 205px;
}
